form input, form button{
    width: 90%;
    padding: 10px 5%;
    color: #fff;
    background-color: #222;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
}

form button{
    width: 100%;
    border: 2px solid #222;
    transition: border-color 0.3s ease;
}

form button:hover{
    
    border-color: #111;
}