table {
    color: #fff;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table div{
    margin-top: 10px;
    display: flex;
}

table button{
    color: #fff;
    background-color: #222;
    padding: 5px 5%;
    width: 60%;
    border: 2px solid #222;
    transition: border-color 0.3s ease;
    margin-right: 15px;
}

table button:hover{
    
    border-color: #00bbcc;
}